{% extends 'admin/layout.html.twig' %}

{% block title %}Proyecto index
{% endblock %}

{% block contenido %}
	<h1 style="text-align:center">Proyecto Index</h1>

	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Titulo</th>
					<th>Curso_escolar</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for proyecto in proyectos %}
					<tr>
						<td>{{ proyecto.id }}</td>
						<td>{{ proyecto.titulo }}</td>
						<td>{{ proyecto.cursoEscolar }}</td>
						<td>{{ proyecto.descripcion }}</td>
						<td>
							<a href="{{ path('proyecto_show', {'id': proyecto.id}) }}" class="btn">Mostrar</a></button>
							<a href="{{ path('proyecto_edit', {'id': proyecto.id}) }}" class="btn">Editar</a></button>
												
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">No hay resultados</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	<a href="{{ path('proyecto_new') }}" class="btn">Añadir</a></button>

{% endblock %}