{% extends 'base.html.twig' %}

{% block title %}Alumno
{% endblock %}

{% block body %}
	<h1>Alumno</h1>
	<div class="table-responsive">

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ alumno.id }}</td>
				</tr>
				<tr>
					<th>Nombre</th>
					<td>{{ alumno.nombre }}</td>
				</tr>
				<tr>
					<th>Apellidos</th>
					<td>{{ alumno.apellidos }}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div class="container-fluid">
		<div class="row ">
			<div class="col-md-4">
				<a href="{{ path('alumno_index') }}" class="btn">Volver</a>
			</div>

			<div class="col-md-4 align-self-end">
				<a href="{{ path('alumno_edit', {'id': alumno.id}) }}" class="btn">Editar</a>
			</div>

			<div class="col-md-4 align-self-end ">
				{{ include('alumno/_delete_form.html.twig') }}
			</div</div>

		</div>
	</div>
{% endblock %}
