{% extends "layout.html.twig" %}
{% block contenido %}
<section>
		<div class="s010">
			<form action="{{ url("resultados") }}" method="POST">
				<div class="inner-form">
					<div class="basic-search">
						<div class="input-field">
							<input id="search" name="titulo" type="text" placeholder="Buscar por título"/>
							<div class="icon-wrap">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24">
									<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
								</svg>
							</div>
						</div>
					</div>
					<div class="advance-search">
						<span class="desc">BUSQUEDA AVANZADA</span>
						<div class="row">
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="grado">
										<option placeholder="" value="">Titulacion</option>
										{% for grado in dataGrado %}
											<option value={{grado.getId()}}>{{grado.getNombre()}}</option>
										{% endfor %}
									</select>

								</div>
							</div><br>
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="profesor">
										<option placeholder="" value="">Profesor responsable</option>
										{% for profe in dataProfe %}
											<option value={{profe.getId()}}>{{profe.getNombre()}}</option>
										{% endfor %}
									</select>
								</div>
							</div><br>
							<div class="input-field">
								<div class="input-select">
									<select data-trigger="" name="anyo">
										<option placeholder="" value="">Año</option>
										<option value="12/13">12/13</option>
										<option value="13/14">13/14</option>
										<option value="14/15">14/15</option>
										<option value="15/16">15/16</option>
										<option value="16/17">16/17</option>
										<option value="17/18">17/18</option>
										<option value="18/19">18/19</option>
										<option value="19/20">19/20</option>
									</select>
								</div>
							</div>
						</div>
						<br>


						<div class="row third">
							<div class="input-field">
								<div class="group-btn">
									<button class="btn-delete" id="delete">RESTAURAR</button>
									<button class="btn-search">BUSCAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script src="js/extention/choices.js"></script>
		<script>
			const customSelects = document.querySelectorAll("select");
const deleteBtn = document.getElementById('delete')
const choices = new Choices('select', {
searchEnabled: false,
itemSelectText: '',
removeItemButton: true
});
for (let i = 0; i < customSelects.length; i++) {
customSelects[i].addEventListener('addItem', function (event) {
if (event.detail.value) {
let parent = this.parentNode.parentNode
parent.classList.add('valid')
parent.classList.remove('invalid')
} else {
let parent = this.parentNode.parentNode
parent.classList.add('invalid')
parent.classList.remove('valid')
}
}, false);
}
deleteBtn.addEventListener("click", function (e) {
e.preventDefault()
const deleteAll = document.querySelectorAll('.choices__button')
for (let i = 0; i < deleteAll.length; i++) {
deleteAll[i].click();
}
});
</script>
</section>

	<!-- MIDDLE CONTENT -->
	<!-- SECCION ULTIMOS TRABAJOS -->
		<section>
			<div class="container mt-5"> <h2 class="text-center">ULTIMOS TRABAJOS</h2>

			<div class="row mt-5">

				<div class="col-md">
					<div class="card mb-3 text-center">
						<div class="card-body text-center">
							<h5 class="card-title">Las aventuras de Tadeo Jones</h5>
							<h6 class="card-subtitle mb-2 text-muted">Miguel Angelo</h6>
							<p class="card-text">"Este es un fackin otaku que sale de casa a dar por culo..."</p>

							<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
								Más Info
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aqui va el titulo</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img class="imagen-popup" src="img/logo.png" alt="" srcset="">
											<p>
												<b>Curso Escolar</b>: 19/20</p><br>
											<p>
												<b>
													Profesor responsable</b>: Ambrosio</p><br>
											<p>
												<b>Titulacion</b>: 2 DAW</p><br>
											<p>
												<b>
													Privacidad</b>: CopyRight</p><br>
											<p>
												<b>Resumen</b>: Lorem ipsum dolor sit amet consectetur</p>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Visualizar</button>
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Descargar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h5 class="card-title">Las aventuras de Tadeo Jones</h5>
							<h6 class="card-subtitle mb-2 text-muted">Miguel Angelo</h6>
							<p class="card-text">"Este es un fackin otaku que sale de casa a dar por culo..."</p>
							<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
								Más Info
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aqui va el titulo</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img class="imagen-popup" src="img/logo.png" alt="" srcset="">
											<p>
												<b>Curso Escolar</b>: 19/20</p><br>
											<p>
												<b>
													Profesor responsable</b>: Ambrosio</p><br>
											<p>
												<b>Titulacion</b>: 2 DAW</p><br>
											<p>
												<b>
													Privacidad</b>: CopyRight</p><br>
											<p>
												<b>Resumen</b>: Lorem ipsum dolor sit amet consectetur</p>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Visualizar</button>
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Descargar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<h5 class="card-title">Las aventuras de Tadeo Jones</h5>
							<h6 class="card-subtitle mb-2 text-muted">Miguel Angelo</h6>
							<p class="card-text">"Este es un fackin otaku que sale de casa a dar por culo..."</p>
							<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal">
								Más Info
							</button>

							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Aqui va el titulo</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<img class="imagen-popup" src="img/logo.png" alt="" srcset="">
											<p>
												<b>Curso Escolar</b>: 19/20</p><br>
											<p>
												<b>
													Profesor responsable</b>: Ambrosio</p><br>
											<p>
												<b>Titulacion</b>: 2 DAW</p><br>
											<p>
												<b>
													Privacidad</b>: CopyRight</p><br>
											<p>
												<b>Resumen</b>: Lorem ipsum dolor sit amet consectetur</p>
										</div>
										<div class="modal-footer">
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Visualizar</button>
											<button type="submit" class="btn btn-lg float-right" id="btnLogin">Descargar</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--final row -->

		</div>
	</section>
	<!-- FIN MIDDLE CONTENT .................... -->

{% endblock %}