{% extends "index.html.twig" %}
{% block contenido %}
		{% set itemsPerPage = 6 %}
		{% set lowerLimit = (currentPage - 1) * itemsPerPage %}
		{% set upperLimit = currentPage  * itemsPerPage %}
		{% for proyecto in data %}
			{% if loop.index0 >= lowerLimit and loop.index0 < upperLimit %}
				<li class="project-thumb">
					<div class="thumb">
						<a class="lightbox" href="/images/thumbs/big/{{ proyecto.imagenes[0] }}" title="{{ proyecto.titulo }}"><img src="/images/thumbs/{{ proyecto.imagenes[0] }}" alt=""/>
						</a>
					</div>
					<h3 class="entry-title">
						<a>{{ proyecto.titulo }}</a>
					</h3>
				</li>
			{% endif %}
		{% endfor %}
		{% set totalItems = data|length %}
		{% set lastPage = ( totalItems /  itemsPerPage ) |round(0, 'ceil')  %}
		{% set lastPageItems = ( itemsPerPage * lastPage ) - totalItems %}
        
					{% for i in 1..lastPage %}
						{% if ( currentPage == lastPage and lastPageItems > 0) %}
							<li class="page-item">
								<a class="page-link" href="{{ path('resultados', {'currentPage':i}) }}">{{ i }}<span class="sr-only">(current)</span>
								</a>
							</li>
						{% endif %}

					{% endfor %}
					<li class="page-item">
						<a class="page-link" href="{{ path('resultados', {'currentPage':currentPage+1}) }}">Next</a>
					</li>
				</li>
				{% for i in 1..lastPage %}
					
				{% endfor %}
{% endblock %}