{% extends 'admin/layout.html.twig' %}

{% block title %}Documento index{% endblock %}

{% block contenido %}
    <h1>Documento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Formato</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
            <tr>
                <td>{{ documento.id }}</td>
                <td>{{ documento.nombre }}</td>
                <td>{{ documento.formato }}</td>
                <td>
                    <a href="{{ path('documento_show', {'id': documento.id}) }}">show</a>
                    <a href="{{ path('documento_edit', {'id': documento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('documento_new') }}">Create new</a>
{% endblock %}
